<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css">
    <title>Prueba</title>
</head>
<body>
    <h1>The Rick and Morty</h1>
    <div class="lista">
        <ul>
            <li><a href="/characters">Personajes</a></li>
            <li><a href="/location">Locaciones</a></li>
            <li><a href="/episodes">Episodios</a></li>
        </ul>
    </div>

    <script src="/javascript/api.js"></script>
</body>
</html>